@model ClassLibrary1.CustomerViewModel
@{
    ViewData["Title"] = "Contact";
}
<html>
<body>
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>
    <table style="font-family:Arial">
        <tr>
            <td>CustomerCode:</td>
            <td>@Model.CustomerCode </td>
        </tr>
        <tr>
            <td>CustomeName:</td>
            <td>@Model.CustomerName</td>
        </tr>

    </table>
    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</body>
    </html>
    
